p {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  margin-top: 5rem;
  margin-left: 6rem;
  border-collapse: collapse;
  border: 2px solid silver;
  width: 80%;
  height: 80%;
}

td {
  border: 2px solid silver;
  padding: 8px;
}

body {
  color: aliceblue;
  margin: 0;
  padding-top: 80px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #212124;
}

.header-title {
  font-size: 80px;
  font-family: system-ui;
  font-weight: 500;
  padding-left: 6rem;
  padding-top: 4rem;
}
