p {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  margin-top: 8rem;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 60rem;
  border-spacing: 1rem 1rem;
  border-radius: 30px;
  width: 80%;
  height: 80%;
 

}

td {
  border: solid 1px ;
  border-radius: 30px;
  background-color: #8894b8c8;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255,255,255,0.3) 50%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-position: -100vw;
  animation: shine 10s ease infinite;
  filter: drop-shadow(0.5rem 1rem 1rem rgb(0 0 0 / 0.4));
}

td.url {
  font-family: Helvetica;
  filter: drop-shadow(0.5rem 1rem 1rem rgb(0 0 0 / 0.4));
  font-weight: 700;
  font-size: 50px;
  padding: 1rem;
}

td.url a{
  display: block;
  cursor:pointer;
  color: black;
  height: 100%;
}

td.url .label{
  position:fixed;
  top: 40%;
  z-index: -1;
  left: 30%;
}

body {
  background: linear-gradient(-45deg, #654d4d, #4124a0, #043244, #024837);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  font-size: 80px;
  background-color: #8894b8c8;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255,255,255,0.3) 50%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-position: -100vw;
  animation: shine 6s ease infinite;
  font-family: Helvetica;
  font-weight: 700;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  max-width: 60rem;
  border: 2px solid silver;
  filter: drop-shadow(0.5rem 1rem 1rem rgb(0 0 0 / 0.4));
}

.header-title {
  padding-left: 6rem;
}


.header-title .song-title{
  font-style: italic;
}

.icon {
  width: 8rem;
  padding: 1rem;
  align-items: baseline;
  filter: drop-shadow(0.5rem 1rem 1rem rgb(0 0 0 / 0.4));
  width: 10rem;
}

.footer {
  margin-top: 7rem;
  font-size: 40px;
  color: antiquewhite;
  width: fit-content;
  padding-left: 41%;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}