p {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  margin-top: 8rem;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 60rem;
  border: 2px solid silver;
  border-radius: 30px;
  width: 80%;
  height: 80%;
  background-color: #8894b8c8;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255,255,255,0.3) 50%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-position: -100vw;
  animation: shine 10s ease infinite;

}

td {
  

  padding: 8px;
  height: 10rem;
}

td.icon {
  width: 10rem;
}

td.url {
  color: #58a6ff;
  font-size: 50px;
}




body {
  background: linear-gradient(-45deg, #654d4d, #4124a0, #043244, #024837);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  font-size: 80px;
  background-color: #8894b8c8;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255,255,255,0.3) 50%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-position: -100vw;
  animation: shine 6s ease infinite;
  font-family: Helvetica;
  font-weight: 700;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  max-width: 60rem;
  border: 2px solid silver;
}

.header-title {
  padding-left: 6rem;
}


.header-title .song-title{
  font-style: italic;
}

.icon {
  width: 8rem;
  padding-left: 1rem;
  padding-top: 1rem;
} 

@keyframes shine {
  0% {
    background-position: -100vw;    
  }
  100% {
    background-position: 100vw;   
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

svg {
  filter: drop-shadow(30px 50px 20px rgb(0 0 0 / 0.4));
}